<div class="fixed-container" [ngClass]="showFixedHeader ? 'show' : ''">
    <p>{{title}} Task Added</p>
</div>
<div class="container">
    <div class="form-header">
        <p>Create a New Task</p>
    </div>
    <div class="form-container">
        <div class="form">
            <div class="form-flex">
                <div class="title-card form-input">
                    <label for="title">Title</label>
                    <input type="text" id="title" [(ngModel)]="title">
                </div>
                <div class="date-card form-input">
                    <label for="date">Date</label>
                    <input type="date" id="date" [(ngModel)]="date" [min]="currentDate">
                </div>
            </div>
            <div class="form-flex">
                <div class="priority-card form-input">
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority" [(ngModel)]="priority">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>
                <div class="status-card form-input">
                    <label for="status">Status</label>
                    <select name="status" id="status" [(ngModel)]="status">
                        <option value="pending">Pending</option>
                        <option value="in progress">In Progress</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
            </div>
            <div class="form-flex width-flex">
                <div class="description-card form-input">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="10" [(ngModel)]="description"></textarea>
                </div>
            </div>
            <div class="form-flex width-flex" style="justify-content:center;margin-top:30px;">
                <button 
                class="submit-btn" 
                type="submit" 
                (click)="addTask()" 
                [disabled]="!title || !date || !priority || !status || !description">Add Task</button>
            </div>
        </div>
    </div>
</div>